.card {
  margin: auto;
}
img {
  padding-top: 10px;
  width: 100px;
  margin-left: 30px;
}

.sun {
  width: 100px;
  margin-top: 10px;
}
#temperature {
  font-size: 80px;
  margin-top: 0px;
  margin-left: 20px;

}
.degree {
  margin-top: 20px;
  margin-left: -30px;
  font-size: 30px;
 
}
#city {
  padding-top: 50px;
  font-size: 30px;
}
#time {
  padding-left: 0px;
}
#day-details {
  padding-left: 0px;
}
#tempConvert {
  font-size: 110px;
  padding-top: 30px;
}
.humidity {
  padding-top: 35px;
}
.days {
  padding-left: 65px;
}
.weather {
  padding-left: 65px;
}
#current-button {
  color: #fff;
  background-color: #0069d9;
  border: none;
  border-radius: 10px;
  width: 80px;
  margin-top: 20px;
  padding: 8px;
}
#search-button {
  color: #fff;
  background-color: #0069d9;
  border: none;
  border-radius: 10px;
  width: 80px;
  margin-top: 20px;
  padding: 8px
}
.day-time {
  padding-left: 50px;
}

hr {
  width: 760px;
}

#search-city {
  width: 570px;
  margin: 5px;
  padding: 6px;
  border-radius: 10px;
}
p {
  text-align: center;
}